* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  
} */

main {
  position: relative;
  width: 100%;
  height: auto;
}

nav {
  height: 70px;
  /* position: fixed; */
  width: 100%;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

/* hero */
section {
  padding: 2rem 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero--photo {
  max-width: 300px;
  align-self: center;
}

.hero--header {
  margin: 16px 0 5px;
  font-size: 1.3rem;
}

.hero--text {
  margin-top: 0;
  font-size: 1rem;
}

@media screen and (min-width: 650px) {

  .hero {
    padding: 2rem;
  }

  .hero--photo {
    max-width: 600px;
  }

  .hero--header {
    margin: 20px 0 10px;
    font-size: 2rem;
  }

  .hero--text {
    margin-top: 0;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
  }

  main {
    width: 800px;
  }
}

/* article */

#card {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.article--container {
  position: relative;
  margin-right: 10px;
}

.article--container .category {
  position: absolute;
  top: 4px;
  left: 4px;
  background: white;
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-weight: light;
  color: #424242;
}

.card--img {
  height: 235px;
  width: 190px;
  border-radius: 0.30rem;
}

.star--img {
  width: 14px;
  height: 14px;
}

.article--container var {
  font-size: 17px;
  color: #2e2e2e;
  font-style: normal;
  padding: 0 0.2rem
}

.article--container small {
  display: inline-block;
  width:3px;
  height:3px;
  background: #918E9B;
  border-radius: 50%;
  margin: 0.2rem; 
}

.article--container samp{
  color: #918E9B;
  font-size: 16px;
  font-weight: 500;
}

.article--container p {
  font-size: 0.921rem;
  padding: 0.15rem 0;
}

.article--para-span {
  color: #918E9B;
}

.article--container strong {
  font-size: 13.5px;

}